:root {
  --blue-color: #2196f3;
  --white-color: #ffffff;
  --gray-color: #2f303a;
  --workers-color: #ececec;
  --black-color: #000000;
  --background-color: #757575;
}

.span {
  color: var(--blue-color);
}

.worker-text {
  color: var(--black-color);
}

.button {
  background-color: var(--blue-color);
  color: var(--white-color);
}

.information {
  color: var(--background-color);
}

.main-section {
  background-color: var(--gray-color);
}

.team {
  background-color: var(--background-color);
}

.name {
  color: var(--black-color);
}

.header-link:hover {
  color: var(--blue-color);
  cursor: pointer;
}

.header-link {
  color: var(--black-color);
}

.information1 {
  color: var(--background-color);
}

.information1:hover {
  color: var(--blue-color);
  cursor: pointer;
}

.name1 {
  color: var(--white-color);
}

.adress {
  color: var(--white-color);
}

.main-text {
  color: var(--white-color);
}
